# Python
__pycache__
*.pyc
*.pyd
*.pyo
.Python
env
venv
.venv
# virtualenv
# .venv directory was created by virtualenv new project method
# and is ignored by default
# echo "*" > .venv/.gitignore
bin/
include/
lib/
lib64/
local/
share/
# macOS
.DS_Store
# Editors/IDE
.vscode/
.idea/
# Environment variables
.env
secrets.toml
# Build artifacts
dist/
build/
*.egg-info/
*.db
database.db