{% extends "base.html" %} {% block content %}

<h2 class="text-2xl mb-6 font-sans font-semibold">Catalog</h2>

<div class="bg-gray-200 h-72 w-full rounded-lg relative">
  <img
    id="productImage"
    src="https://images.pexels.com/photos/8483487/pexels-photo-8483487.jpeg"
    alt="Product Image"
    class="h-full w-full object-cover rounded-lg"
  />
  <div
    class="absolute w-full h-full top-0 left-0 bg-black/30 rounded-lg text-white p-4 flex items-center justify-center"
  >
    <div class="m-auto w-1/2 text-center space-y-4">
      <h3 class="text-center text-4xl uppercase font-bold">
        New Season is here!
      </h3>
      <p class="text-xl">
        Check out our latest collection of summer wear and get ready to shine
        this season.
      </p>
    </div>
  </div>
</div>

<div class="mt-10">
  <div
    id="productList"
    class="md:grid md:grid-cols-3 xl:grid-cols-4 gap-6"
  ></div>
</div>

{% endblock %}
